@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.section_authorization
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    overflow-y: scroll;

    z-index: 120;
}

.spinner
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    overflow-y: scroll;

    z-index: 130;
}

.div_authorization
{
    position: relative;
    width: 650px;
    height: 390px;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 3px 6px #00000029;
}

.img_logo
{
    filter: invert(61%) sepia(9%) saturate(1118%) hue-rotate(105deg) brightness(89%) contrast(88%);

    width: 160px;
    height: 40px;
    align-self: flex-start;
}

.btn_close
{
    position: absolute;
    width: 11px;
    height: 18px;
    top: 10px;
    right: 10px;

    border: 0;
    color: #BABABA;
    cursor: pointer;
}

.div_fb_auth
{
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.p_welcome
{
    width: 393px;
    height: 34px;
    margin: 0;

    font-size: 16px;
    font-family: Montserrat, serif;
    text-align: left;
    color: #669885;
    line-height: 34px;
}

.btn_facebook
{
    width: 210px;
    height: 34px;
    padding-right: 10px;

    background: #4560A6;
    border: 1px solid #5067B3;
    border-radius: 17px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.img_facebook
{
    width: 27px;
    height: 27px;

    filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(39deg) brightness(108%) contrast(106%);
}

.p_agreement
{
    width: 270px;
    height: 13px;

    font-family: Montserrat, serif;
    font-size: 10px;
    color: #BABABA;
}

.div_buttons_action
{
    padding-top: 10px;
    border-top: 1px solid #BABABA;

    display: flex;
    justify-content: space-between;
}

.btn_cancel
{
    width: 105px;
    height: 34px;
    margin-right: 10px;
    background-color: #FFFFFF;

    border: 1px solid #8DBFAC;
    border-radius: 17px;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #84B6A3;
}

.btn_submit
{
    width: 148px;
    height: 34px;
    background-color: #84B6A3;

    border: 1px solid #8DBFAC;
    border-radius: 17px;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
}

.img_submit
{
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 25px;
}

.div_buttons_flag
{
    width: 100%;
}

.btn_sign_active
{
    width: 50%;
    height: 34px;

    background: #84B6A3;
    border: 0;
    font-family: Montserrat, serif;
    font-size: 16px;
    color: #FFFFFF;
}

.btn_sign_passive
{
    width: 50%;
    height: 34px;

    background: #BABABA;
    border: 0;
    font-family: Montserrat, serif;
    font-size: 16px;
    color: #FFFFFF;
}

.div_auth_form
{
    padding-bottom: 35px;

    display: flex;
    justify-content: space-between;
}

.div_auth_form_block_sign_up
{
    padding-top: 30px;
    width: 50%;
}

.div_auth_form_block_sign_in
{
    padding-top: 30px;
    width: 50%;
    height: 172px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_auth_form_block div
{
    margin-bottom: 10px;

    display: flex;
}

.div_auth_form_desc
{
    padding-top: 80px;
    width: 50%;
}

.p_password_rules
{
    text-align: left;
    font-family: Montserrat, serif;
    font-size: 10px;
    color: #BABABA;
}

.p_password_reenter
{
    text-align: left;
    font-family: Montserrat, serif;
    font-size: 10px;
    color: #BABABA;
}

.btn_forgot_pass
{
    margin-left: 80px;

    border: 0;
    background-color: #FFFFFF;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 10px;
    color: #BABABA;
}

.input_field
{
    width: 200px;
    height: 20px;

    border: 0;
    border-bottom: 1px solid #84B6A3;
    font-family: Montserrat, serif;
    font-size: 12px;
    color: #BABABA;
}

.input_field:focus
{
    outline: none;
    border: 0;
    border-bottom: 1px solid #84B6A3;
}

.input_label
{
    padding-right: 15px;
    width: 85px;
    text-align: right;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #393939;
}
