@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.jumbotron
{
    width: 100vw;
    height: 70px;
    margin: 0;
    padding: 0;

    position: fixed;

    background: #669885 0 0 padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.jumbotron_alternative
{
    width: 100vw;
    height: 70px;
    margin: 0;
    padding: 0;

    position: fixed;

    background: #FFFFFF 0 0 padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.header
{
    width: 100vw;
    height: 70px;
}

.button_sign_in
{
    font-family: Montserrat, medium, serif;
    background-color: #669885;
    color: #FFFFFF;
    width: 100px;
    height: 35px;

    border: 1px solid #FFFFFF;
    border-radius: 17px;
    opacity: 1;
}

.button_sign_in:active
{
    background-color: #FFFFFF;
    color: #669885;
}
