@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.jumbotron
{
    padding: 0 0;
}

.section_main
{
    background-image: url(../images/image_dog.png);
    background-position: right center;
    background-size: 450px 600px;
    background-repeat: no-repeat;
}

.div_main
{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.text_main
{
    margin-bottom: 50px;
    height: 200px;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 56px;
}

.div_buttons
{
    margin-bottom: 40px;
}

.button_lost
{
    padding: 0 0 0 600px;
    height: 100px;
    width: 1000px;
    transform: translateX(-600px);

    border-radius: 60px;
    border: 0;
    background-color: #FFE18B;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 32px;
}

.button_found
{
    padding: 0 0 0 600px;
    height: 100px;
    width: 925px;
    transform: translateX(-600px);

    border-radius: 60px;
    border: 0;
    background-color: #84B6A3;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 32px;
    color: #FFFFFF;
}

.p_join
{
    margin: 0;
    font-family: Montserrat, serif;
}

.section_quote
{
    background-color: #669885;
}

.section_quote_content
{
    padding: 0 160px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p_quote
{
    font-family: Montserrat, serif;
    color: #FFFFFF;
    font-size: 32px;
}

.btn_img_search
{
    height: 80px;
}

.section_info
{
    font-family: Montserrat, serif;
}

.section_info_wrapper
{
    padding: 55px 0 70px 500px !important;
    background-image: url(../images/image_pets.png);
    background-position: left center;
    background-size: 480px 320px;
    background-repeat: no-repeat;
}

ol
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

li
{
    margin-bottom: 15px;
}

li::before
{
    content: " ";
    background-color: #669885;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

.section_coming_soon
{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FF6F61;

    font-family: Montserrat, serif;
    color: #FFFFFF;
}

.coming_soon_content
{
    height: 125px;
}

.coming_soon_title
{
    font-size: 56px;
}

.coming_soon_text
{
    display: flex;
    align-items: center;

    font-size: 16px;
}

.coming_soon_red_heart
{
    width: 105px;
    height: 105px;
    background-image: url(../images/logo_heart.png);
    background-position: left top;
    background-size: 105px 105px;
    background-repeat: no-repeat;

    font-size: 16px;
    color: #FFFFFF;
    line-height: 105px;
    text-align: center;
}

@media screen and (max-width: 600px)
{
    /*.text_main
    {
        order: 1;
    }

    .div_buttons
    {
        order: 3;
    }

    .p_join
    {
        order: 4;
    }*/
}
