@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.jumbotron
{
    padding: 0 0;
}

.div_main
{
    z-index: 10;
}

.text_main
{
    margin-top: 100px;
    height: 200px;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 56px;
}

.button_lost
{
    padding: 0 0 0 20px;
    height: 100px;
    width: 75%;

    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 0;
    background-color: #FFE18B;
    opacity: 1;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 32px;
}

.button_found
{
    padding: 0 0 0 20px;
    height: 100px;
    width: 60%;

    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 0;
    background-color: #84B6A3;
    opacity: 1;

    text-align: left;
    font-family: Montserrat, serif;
    font-size: 32px;
    color: #FFFFFF;
}

.p_join
{
    font-family: Montserrat, serif;
}

.section_quote
{
    background-color: #669885;
}

.section_quote_content
{
    padding: 0 160px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p_quote
{
    font-family: Montserrat, serif;
    color: #FFFFFF;
    font-size: 32px;
}

.btn_img_search
{
    height: 80px;
}

.section_info
{
    height: 450px;

    font-family: Montserrat, serif;
}

ol
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

li::before
{
    content: "•";
    color: #669885;
    font-size: 20px;
}

.section_coming_soon
{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FF6F61;

    font-family: Montserrat, serif;
    color: #FFFFFF;
}

.coming_soon_content
{
    height: 125px;
}

@media screen and (max-width: 600px)
{
    /*.text_main
    {
        order: 1;
    }

    .div_buttons
    {
        order: 3;
    }

    .p_join
    {
        order: 4;
    }*/
}
