@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.div_wrapper
{
    width: 650px;
}

.div_p_wrapper
{
    margin-top: 10px;

    display: flex;
    flex-direction: row;

    font-family: Montserrat, serif;
    font-size: 16px;
    color: #669885;
}

.div_p_wrapper p
{
    margin-left: 10px;
}

.div_button_wrapper
{
    height: 35px;

    display: flex;
    flex-direction: row;
}

.button_profile_active
{
    margin: 0;
    width: 50%;
    height: 35px;

    border: 0;
    background-color: #669885;

    font-family: Montserrat, serif;
    font-size: 16px;
    color: #FFFFFF;
}

.button_profile_passive
{
    margin: 0;
    width: 50%;
    height: 35px;

    border: 0;
    background-color: #BABABA;

    font-family: Montserrat, serif;
    font-size: 16px;
    color: #FFFFFF;
}

.section_profile
{
    padding-bottom: 10px;

    box-shadow: 0 3px 6px #00000029;
}

.div_data_wrapper
{
    margin: 0;
    height: 235px;
    padding-top: 25px;
    padding-left: 15px;


    display: flex;
    flex-direction: column;
}

.section_content
{
    width: 410px;
    height: 150px;

    display: flex;
    flex-direction: column;
}

.div_img_name_wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn_img
{
    width: 45px;
    height: 45px;
    margin-right: 40px;

    background-color: azure;
    border: 0;
    border-radius: 50px;
}

.p_name
{
    height: 20px;
    margin: 0;
    padding: 0;

    font-family: Montserrat, serif;
    font-size: 16px;
    color: #84B6A3;
}

.btn_pencil
{
    width: 10px;
    height: 10px;

    font-size: 10px;
    color: #BABABA;

    border: 0;
    background-color: #FFFFFF;
}

.div_input_block
{
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.input_label
{
    margin: 0 20px 0 0;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #393939;
}

.input
{
    width: 320px;
    height: 20px;

    border: 0;
    border-bottom: 1px solid #84B6A3;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #BABABA;
}

.div_save_btn_wrapper
{
    margin-top: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn_cancel
{
    width: 100px;
    height: 35px;
    margin-right: 10px;

    border: 1px solid #669885;
    border-radius: 50px;
    background-color: #FFFFFF;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #669885;
}

.btn_cancel:active
{
    background-color: #669885;
    color: #FFFFFF;
}

.btn_save
{
    width: 150px;
    height: 35px;

    border: 1px solid #669885;
    border-radius: 50px;
    background-color: #669885;

    font-family: Montserrat, serif;
    font-size: 12px;
    color: #FFFFFF;
}

.btn_save:active
{
    background-color: #FFFFFF;
    color: #669885;
}

.div_activities_wrapper
{
    margin: 0;
    padding: 10px 0 10px 0;

    display: flex;
    flex-direction: column;
}
